/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background: #fc4a1a; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f7b733, #fc4a1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* Rule for the Sweet Alert window border */
div.swal2-container.swal2-center.swal2-backdrop-show > div {
    border: 2px solid black;
}

/* Rule for the Sweet Alert image */
.swal2-image {
    box-shadow: 10px 10px 16px #212121;
}

/* Rule for the custom orange text with black outline */
.cool-text {
    color: #ff993b;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/* Rule for the custom black text with orange outline */
.cool-text-inverse {
    color: black;
    text-shadow: -2px 0 #ff993b, 0 1px #ff993b, 1px 0 #ff993b, 0 -1px #ff993b;
}

/* Rule for landing page background gradient */
.landing-body {
    background: rgb(33,33,33);
    background: linear-gradient(90deg, rgba(33,33,33,1) 0%, rgba(255,153,59,0.3561799719887955) 100%);
}

/* Rule for the three column card header */
.cool-header {
    background-color: antiquewhite;
}

/* Rule for the cards border & outline */
.cool-border {
    outline: 2px solid black;
    border: 1px solid orange;
}

/* Help with card body vertical positioning */
.card-body {
    padding-top: .5rem;
    padding-bottom: .25rem;
}

.task-body .navbar-dark {
    border-bottom: 5px solid #ff993b;
}

/* Text color and weight for eTaskifier-er*/
.navbar-dark .navbar-brand {
    color: #ff993b;
    font-weight: bold;
}


/* Side nav styling hr */
.side-nav .col-2 {
    height: calc(100vh - 80px);
    border-right: 5px solid #ff993b;
    max-width: max-content;
}

/* Side nav styling hr */
.side-nav hr {
    margin-top: 0;
}

/* Link color on side nav */
.side-nav .nav-link {
    color: #ff993b
}

/* Rule to make the link text grow */
.side-nav .nav-item > a:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.2);
    padding-left: 30px;
}

/* Rule to keep the drop down menu background black on hover*/
.dropdown-item:focus, .dropdown-item:hover {
    background-color: unset;
}


/* HR on Dashboard page */
hr.cool-line {
    margin-top: 20px;
    outline: 2px solid #ff993b;
    border: 2px solid black;
}

.tooltip-inner {
    background-color: #ff993b;
    border: 2px solid #212121;
    font-weight: bold;
    color: #212121;
}

/* Represents the first four elements. [=-0+4, -1+4, -2+4, -3+4] */
tr.complete > td:nth-child(-n+4) {
    text-decoration: line-through;
}

.modal-header {
    border-bottom: 2px solid black;
}
